*.pyc
*.py~

data/
index/
luke/

report/sig-*
!report/sig-alternate-05-2015.cls
report/*.sty
report/*.aux
report/*.log
report/*.synctex.gz
report/report.bbl
report/report.blg
report/report.out
eval/qrels*/
eval/index_eval*.txt
