*.pyc
*~

data/
index/
luke/
.idea/

report/sig-*
!report/sig-alternate-05-2015.cls
report/*.sty
report/*.aux
report/*.log
report/*.bak
report/*.synctex.gz
report/report.blg
report/report.out
report/report.dvi
