*.pyc
*.py~

data/
index/
luke/

report/sig-*
!report/sig-alternate-05-2015.cls
report/*.sty
report/*.aux
report/*.log
report/*.bbl
report/*.bak
report/*.synctex.gz
report/report.blg
report/report.out
report/report.dvi
eval/qrels*/
eval/index_eval*.txt
