{% extends "layout.html" %}
{% block content %}
<div class="row search">
	<div class="col-md-12">
		<form action="{{ url_for('search') }}" id="f_search" role="search" method="get">
        <div class="input-group" id="adv-search">
            <input id="i_search" type="text" name="q" class="form-control" placeholder="Search"/>
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" title="Advanced search" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form class="form-horizontal" role="form">
                              <div class="row form-group">
                                <div class="col-sm-2">
                                  <label for="contain">Title</label>
                                </div>
                                <div class="col-sm-10">
                                  <input id="i_title" name="title" class="form-control" type="text" />
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-2">
                                  <label for="contain">Authors</label>
                                </div>
                                <div class="col-sm-10">
                                  <input id="i_authors" name="authors" class="form-control" type="text" />
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-2">
                                  <label for="contain">Year</label>
                                </div>
                                <div class="col-sm-10">
                                  <input id="i_year" name="year" class="form-control" type="text" />
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-2">
                                  <label for="contain">Venue</label>
                                </div>
                                <div class="col-sm-10">
                                  <input id="i_venue" name="venue" class="form-control" type="text" />
                                </div>
                              </div>
                              <div class row>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                              </div>
                            </form>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

 <div class="row">
  <div class="col-lg-12">
  {% if metadata %}
    {% if results|length == 1 %}
      <p class="text-muted">{{metadata.totalhits}} result found ({{metadata.duration|round(2)}}s).</p>
    {% else %}
      <p class="text-muted">{{metadata.totalhits}} results found ({{metadata.duration|round(2)}}s).</p>
    {% endif %}
  {% else %}
  <!-- show nothing -->
  {% endif %}
  	{% for result in results %}
    <article class="search-result row">
          <div class="col-xs-12 col-sm-12 col-md-12 excerpet">
            <h4 class="title"><strong class="score" title="Relevance score: {{ result.score }}">{{result.rank}}</strong><a target="_blank" href="http://dblp.uni-trier.de/rec/{{result.key}}">{{ result.title }}</a></h4>
            <span>{{ result.authors }} - {{ result.year }} - {{ result.venue }}</span><br>
            <!--<span class="text-muted">Relevance: {{ result.score }}</span>-->
            <span class="text-muted">Relevance score: {{ result.score }}</span>
            <a href="#" data-toggle="tooltip" title="{{ result.key }}"><span class="glyphicon glyphicon-link"></span></a>
          </div>
          <span class="clearfix borda"></span>
        </article>
  	{% endfor %}
    {% if metadata %}
      {% if metadata.totalhits > results|length %}
        <p class="text-muted" style="margin-top: 2em;">Only top {{metadata.N}} results are shown.</p>
      {% endif %}
    {% endif %}
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
{% endblock %}

{% block js_footer %}
{{ super() }}
<script type="text/javascript">
  function decodeEntities(encodedString) {
      var textArea = document.createElement('textarea');
      textArea.innerHTML = encodedString;
      return textArea.value;
  }

  // re-insert values after search has been performed
  // using safe here is actually not so safe, but good enough
  // for a demo
  $("#i_search").val('{{query|safe}}')
  {% if adv_query %}
  $("#i_title").val('{{adv_query.title|safe}}')
  $("#i_authors").val('{{adv_query.authors|safe}}')
  $("#i_year").val('{{adv_query.year|safe}}')
  $("#i_venue").val('{{adv_query.venue|safe}}')
  {% endif %}
</script>

<script type="text/javascript">
    // fix bug that dropdown disappears on click
    $('.dropdown-menu input, .dropdown-menu label, .dropdown-menu div').click(function(e) {
        e.stopPropagation();
    });
</script>

{% endblock %}
