{% extends "layout.html" %}
{% block content %}
<div class="row search">
	<div class="col-md-12">
		<form action="{{ url_for('search') }}" id="f_search" role="search" method="get">
        <div class="input-group" id="adv-search">
            <input id="i_search" type="text" name="q" class="form-control" placeholder="Search"/>
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" title="Advanced search" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form class="form-horizontal" role="form">
                              <div class="row form-group">
                                <div class="col-sm-2">
                                  <label for="contain">Title</label>
                                </div>
                                <div class="col-sm-10">
                                  <input id="i_title" name="title" class="form-control" type="text" />
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-2">
                                  <label for="contain">Authors</label>
                                </div>
                                <div class="col-sm-10">
                                  <input id="i_authors" name="authors" class="form-control" type="text" />
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-2">
                                  <label for="contain">Year</label>
                                </div>
                                <div class="col-sm-10">
                                  <input id="i_year" name="year" class="form-control" type="text" />
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-2">
                                  <label for="contain">Venue</label>
                                </div>
                                <div class="col-sm-10">
                                  <input id="i_venue" name="venue" class="form-control" type="text" />
                                </div>
                              </div>
                              <div class row>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                              </div>
                            </form>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

 <div class="row">
  <div class="col-lg-6">
  {% if metadata %}
    {% if results|length == 1 %}
      <p class="text-muted">{{results|length}} result found ({{metadata.time}}s)</p>
    {% else %}
      <p class="text-muted">{{results|length}} results found ({{metadata.time}}s)</p>
    {% endif %}
  {% else %}
  <!-- show nothing -->
  {% endif %}
  	{% for result in results %}
    <article class="search-result row">
          <div class="col-xs-12 col-sm-12 col-md-12 excerpet">
            <h4 class="title"><strong class="score" title="Relevance score: {{ result.score }}">{{result.rank}}</strong><a href="#">{{ result.title }}</a></h4>
            <span class="text-success">{{ result.authors }} - {{ result.year }} - {{ result.venue }}</span>
            <a href="#" data-toggle="tooltip" title="{{ result.key }}"><span class="glyphicon glyphicon-link"></span></a>
            <p class="snippet">{{ result.text|safe }}</p>
            <span class="text-info">Relevance score: {{ result.score }}</span>
          </div>
          <span class="clearfix borda"></span>
        </article>
  	{% endfor %}
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
{% endblock %}

{% block js_footer %}
{{ super() }}
<script type="text/javascript">
  $("#i_search").val('{{query}}')
  {% if adv_query %}
  $("#i_title").val('{{adv_query.title}}')
  $("#i_authors").val('{{adv_query.authors}}')
  $("#i_year").val('{{adv_query.year}}')
  $("#i_venue").val('{{adv_query.venue}}')
  {% endif %}
</script>

<script type="text/javascript">
    $('.dropdown-menu input, .dropdown-menu label, .dropdown-menu div').click(function(e) {
        e.stopPropagation();
    });
</script>

{% endblock %}
